#header{
    height: 50px;
    background-color: 80CCFF; 
    margin: 0;
    margin-top: -14px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 7px;
}

.headerElement{
    display: inline-block;
    margin-top: 7px;
    border-right: 2px solid white;
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}